[submodule "Sources/3rdParty/DirectX-Headers"]
	path = Sources/3rdParty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
	branch = main
[submodule "Sources/3rdParty/DDSTextureLoaderVk"]
	path = Sources/3rdParty/DDSTextureLoaderVk
	url = https://github.com/Sixshaman/DDSTextureLoaderVk
[submodule "Sources/3rdParty/DirectXMath"]
	path = Sources/3rdParty/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "Sources/3rdParty/DirectXShaderCompiler"]
	path = Sources/3rdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
[submodule "Sources/3rdParty/DirectXTex"]
	path = Sources/3rdParty/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "Sources/3rdParty/DirectXTK12"]
	path = Sources/3rdParty/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12
[submodule "Sources/3rdParty/SPIRV-Reflect"]
	path = Sources/3rdParty/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect/
[submodule "Sources/3rdParty/VulkanGenericStructures"]
	path = Sources/3rdParty/VulkanGenericStructures
	url = https://github.com/Sixshaman/VulkanGenericStructures
	branch = main
