# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Debug data
*.pdb
*.ipdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Other/Private
/Compiled/Shaders/Vulkan/GBuffer/GBufferDraw.vert.spv
/Compiled/Shaders/Vulkan/GBuffer/GBufferDraw.frag.spv
/Compiled/Test.cso
/Compiled/SolarTearsd.pdb
/Sources/.vs/SolarTears/v16
/Sources/SolarTears/x64/Debug
/Compiled/SolarTearsd.ilk
/Sources/SolarTears/x64/Release
/Compiled/SolarTearsd.ipdb
/Compiled/SolarTearsd.iobj
/Compiled/SolarTears.pdb~Stashed changes
/Compiled/SolarTears.ipdb~Stashed changes
/Compiled/SolarTears.iobj~Stashed changes
*.iobj~Stashed changes_0
*.ipdb~Stashed changes_0
*.pdb~Stashed changes_0
/UtilsBuild/DirectXShaderCompiler.bin
DXC
